[2015-11-03 19:04] ThaDafinser opened #1 "TBD"
The target of this project is wherever one or more of the following:
- [ ] create an overview/matrix:
  - [ ] which Providers have a good quality (generation time, valid data, ...)
  - [ ] use different UA databases to generate those matrixes
- [ ] maybe release this as a counter part for UA parsing, like https://github.com/geocoder-php/Geocoder

...for now it's just a prototype:
- install it with

[2015-11-03 20:08] sgiehl commented on #1
sure, feel free to do so.

[2015-11-05 14:21] ThaDafinser commented on #1
Thank you @sgiehl

[2015-11-05 14:21] #1 closed, assigned to nobody

[2015-11-05 15:39] ThaDafinser opened #2 "First results - comparing some vendors"
Hello together,

i create this **prototype** project in order to try out the different UserAgent parsers available for PHP.

First i wanted to try if it's currently possible to create an abstract result set, like it's done for GeoIP already https://github.com/geocoder-php/Geocoder
Second i wanted to have a Chain Adapter on top it to get results from different vendors to get better results https://

[2015-11-05 16:09] donatj commented on #2
The big advantage to mine - parse time an order of magnitude quicker than the others :smile:

I just noticed OS is never filled in my results, but I provide OS, just not OS version. A bug in your test?

[2015-11-05 16:22] donatj commented on #2
I just noticed OS is never filled in my results, but I provide OS, just not OS version.

[2015-11-05 16:31] ThaDafinser commented on #2
@donatj every parser here has it's eligibility, it just depends on the goal you want to achieve with a UA analyisation.

I didn't include OS, since it was mixed with device informations, see here: https://github.com/ThaDafinser/UserAgentParser/blob/master/src/Provider/DonatjUAParser.php#L17-L18

[2015-11-05 21:25] mimmi20 commented on #2
@ThaDafinser The resources of the browscap parser are not meant to be used directly. These rules are parsed together into ini files and have the format designed for PHPs get_gebrowser function. The browscap-php library can handle this and parses the rules into regexes who are tested against the useragent.

Do you need more feedback?

[2015-11-05 21:26] mimmi20 commented on #2
@ThaDafinser If you find a useragant who is not detected correctly, be free to open an issue in the browscap/browscap project.

[2015-11-05 21:43] mimmi20 opened #3 "Browscap-php result not corectly implemented"
The used properties `win32` and `win64` are true only for Windows. If tyou want to detect also other platforms, use the `platform_bits` property.
The platform version can be detected with the `platform_version` property.
The device brand can be detected with the `device_brand_name` property.
The device model can be detected with the `device_name` property.

To detect the device properties you need

[2015-11-06 21:59] NielsLeenheer commented on #2
Very interesting project!

I must first say that WhichBrowser currently isn't designed to be used directly from PHP. It does server side detection, but exposes a JavaScript API in the browser. So calling it directly from PHP is certainly possible, but it might be a bit iffy.

I'll create a pull request from some improvements to the WhichBrowser adapter later today (I hope).

I also have a test sui

[2015-11-06 22:44] ThaDafinser commented on #2
@NielsLeenheer i have a completely rewriten all of  the adapters localy. I will push them later this weekend so you can grab the updates.

I will try to include the testsuite in this case with the next update i will make in a seperate branch.

If you feel that its not good to include it as a server side adapter i will remote it, that nobody expect good results like the "good" one as a JS include p

[2015-11-08 19:28] ThaDafinser commented on #3
Thank you for the feedback @mimmi20 ! I added the `device` and `platform` support in the latest commit: https://github.com/ThaDafinser/UserAgentParser/blob/master/src/Provider/BrowscapPhp.php#L207

I removed the bit detection for now ...because only Browscap and Piwik do that detection and in Piwik it's the Architecture (x86/ x64) which i dont know if its always (are there edge cases?) the same li

[2015-11-08 19:28] #3 closed, assigned to nobody

[2015-11-08 20:15] mimmi20 commented on #3
In Browscap we detect the Bits only if they are mentioned in the useragent, and then also not on OSX. The reason for that is the compexity we would add. On ARM systems the bit count is not part of the useragent.

[2015-11-09 07:40] ThaDafinser commented on #3
Thank you for the informations.

A last question for now: Are the *.php files here are deprecated? https://github.com/browscap/browscap/tree/master/src/Browscap

[2015-11-09 07:46] mimmi20 commented on #3
No.
The package browscap/browscap is there for creating the ini files.
The package browscap/browscap-php is there to use the ini files for detection.

[2015-11-09 14:58] NielsLeenheer opened #6 "Add tests from WhichBrowser"
I've created a separate Composer package the tests I run for WhichBrowser. The package is called `whichbrowser/testrunner` and includes the runner.php script and all the yaml files. It is automatically updated whenever there is a new release of WhichBrowser.

If you want I can probably create a pull request for the actual extracting of the UA strings.

But it is also possible to extract it by usin

[2015-11-09 18:31] NielsLeenheer commented on #2
@ThaDafinser The code for doing the comparisons seems to have disappeared? Is that still part of the scope of this project? Is it coming back?

[2015-11-10 06:49] ThaDafinser commented on #2
@NielsLeenheer you need to use the v0.0.1 https://github.com/ThaDafinser/UserAgentParser/tree/v0.0.1

I will release a new package under the the name https://github.com/ThaDafinser/UserAgentParserMatrix soon

I think a split is better, since this can be used without the matrix

[2015-11-10 07:17] ThaDafinser commented on #6
@NielsLeenheer thank you. I will look into it today and check now far i get in the new packages
https://github.com/ThaDafinser/UserAgentParserMatrix

[2015-11-10 10:46] NielsLeenheer commented on #2
@ThaDafinser Ok, makes sense.

[2015-11-10 17:36] ThaDafinser commented on #6
@NielsLeenheer they are included now here: https://github.com/ThaDafinser/UserAgentParserMatrix/tree/master/data/datasets

The results are also available here: https://github.com/ThaDafinser/UserAgentParserMatrix/tree/master/data/results

[2015-11-10 17:36] #6 closed, assigned to nobody

[2015-11-11 07:22] ThaDafinser opened #7 "New provider: sinergi/php-browser-detector"
https://github.com/sinergi/php-browser-detector

[2015-11-11 07:28] ThaDafinser opened #8 "Possibility to provider Headers instead of UserAgent only"
Some providers use more than UA only:
- https://github.com/serbanghita/Mobile-Detect/blob/master/Mobile_Detect.php#L136
- https://github.com/WhichBrowser/WhichBrowser/blob/master/libraries/whichbrowser.php#L97

[2015-11-11 07:29] ThaDafinser opened #9 "New provider: serbanghita/Mobile-Detect"
https://github.com/serbanghita/Mobile-Detect

They are working on a complete detection here...wait for this?
https://github.com/serbanghita/Mobile-Detect/tree/devel-3#getting-started

[2015-11-11 08:44] ThaDafinser opened #10 "New provider: wurfl"
https://github.com/sam-media/wurfl-api

or

https://github.com/mimmi20/Wurfl

[2015-11-11 15:43] ThaDafinser commented on #8
Support coming soon, with a new paramter

[code]

[2015-11-11 15:59] ThaDafinser opened #11 "Abstraction of device type?"
Each provider has it's own device types..
### BrowscapPhp

https://github.com/browscap/browscap/wiki/Resource:-Device-Database#device_type

[code]
### PiwikDeviceDetector

https://github.com/piwik/device-detector/blob/master/Parser/Device/DeviceParserAbstract.php#L42-L54

[code]
### UAParser

Can be some of those: https://raw.githubusercontent.com/ua-parser/uap-core/master/regexes.yaml

[code]
###

[2015-11-11 17:37] ThaDafinser opened #12 "PHP7 failure from whichbrowser"
@NielsLeenheer i added now unitTests for all providers, but `WhichBrowser` fails on PHP7.

I excluded now PHP7 temporary, that the tests can pass here.

Do you have any plans for PHP7 compability?
https://travis-ci.org/ThaDafinser/UserAgentParser/jobs/90565282#L284

[2015-11-11 17:41] ThaDafinser commented on #9
@serbanghita is there already a date for the `3.0.0` branch?

Or is the public API already stable enough, that i could try to include it for the [comparison](https://github.com/ThaDafinser/UserAgentParserComparison)

[2015-11-11 19:50] ThaDafinser opened #13 "Final check Browscap"
Hello @mimmi20 (sorry to ping again)

i start now to finalize the BrowscapPhp provider.

Could you maybe check if i missed here something, or done something wrong in the implementation?
https://github.com/ThaDafinser/UserAgentParser/blob/master/src/Provider/BrowscapPhp.php

For testing i create a small `browscap.ini` file and used it in the tests.
https://github.com/ThaDafinser/UserAgentParser/blo

[2015-11-11 19:54] ThaDafinser commented on #13
Last note: The unitTests are not finished, since i was not sure if the mocking is good this way and i want this "clean" first.

[2015-11-11 20:46] mimmi20 commented on #13
@ThaDafinser On line 148/149 I dont understand why do you check for a version, but dont add it to your Model. I asume this should the same as the line 169-179. You should handle this lines independed of the `Bot` status.
The ini file you created is ok, but not really needed. You should mock as much as possible.

[2015-11-11 20:53] mimmi20 commented on #10
These providers work only if you have an `wurfl.xml` file. This was free until 2-3 years ago. You may find it here (https://github.com/fauvel/wurfl-dbapi/blob/master/data/wurfl.xml), but you should not commit it to your repo.

[2015-11-11 20:54] mimmi20 commented on #10
My version of Wurfl is namespaced, the other not.

[2015-11-11 21:27] NielsLeenheer commented on #12
Yes, absolutely. WhichBrowser will be PHP7 compatible, start using namespace and a proper PHP api.

[2015-11-11 22:15] NielsLeenheer commented on #12
PHP 7 compatibility was just a simple issue. Release 1.0.1037 should work on PHP 7.

[2015-11-12 08:36] NielsLeenheer opened #14 "Installation fails with composer error"
[code]

[2015-11-12 08:54] ThaDafinser commented on #12
Thank you. I will grad it today in the afternoon and check it

[2015-11-12 08:57] ThaDafinser commented on #14
@NielsLeenheer i'm currently including the new `browscapPhp` version which is still in dev, because it includes many good changes. I hope they release it soon....

Maye your stability settings are to high?
https://packagist.org/packages/browscap/browscap-php#dev-master

[2015-11-12 10:16] ThaDafinser commented on #8
Available now: https://github.com/ThaDafinser/UserAgentParser/blob/v0.2.0/src/Provider/AbstractProvider.php#L24

[2015-11-12 10:16] #8 closed, assigned to nobody

[2015-11-12 11:28] ThaDafinser commented on #13
Thank you for the feedback.

That was a copy paste error, which i fixed now
https://github.com/ThaDafinser/UserAgentParser/commit/2cb2ad5edb061457fbc073b0ade7fb4b06c8613b

You are right. I will mock the parser result completely, so the test will also be faster.

[2015-11-12 11:37] ThaDafinser commented on #12
Works again in the latest build. Thank you for the fast update

https://travis-ci.org/ThaDafinser/UserAgentParser/jobs/90711821

[2015-11-12 11:37] #12 closed, assigned to nobody

[2015-11-12 12:36] ThaDafinser commented on #14
You can use this configuration in your package, to get it working:
https://github.com/ThaDafinser/UserAgentParser#minimum-stability-currently

If BrowscapPhp wont be stable at the `1.x` release i will remove it until the release, so this flag is not a "must"

[2015-11-12 12:36] #14 closed, assigned to nobody

[2015-11-12 20:48] ThaDafinser commented on #2
Moving to https://github.com/ThaDafinser/UserAgentParserComparison/issues/1

[2015-11-12 20:48] #2 closed, assigned to nobody

[2015-11-15 20:46] mimmi20 opened #16 "New provider: mimmi20/BrowserDetector"
Repo-Url: https://github.com/mimmi20/BrowserDetector

[2015-11-16 09:54] ThaDafinser commented on #13
Tests are now mocked.

If there are other changed, feel free to open a new issue.

Thank you so far for  the help!

https://github.com/ThaDafinser/UserAgentParser/blob/master/tests/unit/Provider/BrowscapPhpTest.php#L15

[2015-11-16 09:54] #13 closed, assigned to nobody

[2015-11-16 11:27] ThaDafinser commented on #16
@mimmi20 how stable is this package? Does it use Wurfl as the datasource?

[2015-11-16 13:45] ThaDafinser opened #21 "Remove all methods `setParser()` for testing purpose"
Use instead reflection like here: https://github.com/ThaDafinser/UserAgentParser/pull/20/files

[2015-11-16 14:04] ThaDafinser commented on #7
Waiting for bugfix: https://github.com/sinergi/php-browser-detector/issues/46

[2015-11-16 14:37] mimmi20 commented on #16
I did not create a tag yet. I use some aditional data from Wurfl, but not the data you use in your comparasation.

[2015-11-16 15:13] ThaDafinser opened #22 "Remove all required packages and make them optional"
The required vendor section should be moved to optional https://github.com/ThaDafinser/UserAgentParser/blob/master/composer.json#L51
- [x] move them to suggested
- [x] throw a new exception when the package is not included

[2015-11-16 19:03] ThaDafinser commented on #10
@mimmi20 i added a prototype here: https://github.com/ThaDafinser/UserAgentParser/blob/master/src/Provider/Wurfl.php

You can also try it out here: http://useragent.mkf.solutions/

Todos:
- [x] complete unitTests
- [x] remove "defaults"
- [x] complete raw result
- [x] get feedback if all is correct

[2015-11-16 19:05] ThaDafinser commented on #7
@gabrielbull could you please review my abstraction here? Maybe i missed something or have a bug?
https://github.com/ThaDafinser/UserAgentParser/blob/master/src/Provider/SinergiBrowserDetector.php

Current version test: http://useragent.mkf.solutions/

[2015-11-16 20:54] mimmi20 commented on #10
@ThaDafinser With a little mapping it should be possible to detectg the device type. I dont know if the `form_factor` property was already added in this version.

[2015-11-16 20:55] mimmi20 commented on #10
Your implementation looks fine.

[2015-11-17 09:49] ThaDafinser commented on #11
![image](https://cloud.githubusercontent.com/assets/533017/11208014/e8d3a2fa-8d18-11e5-9c4e-9247bd97a6bc.png)

[2015-11-17 18:04] ThaDafinser commented on #10
Thank you. I added the `form_factor` .

It's also tested completely now

[2015-11-17 18:04] #10 closed, assigned to nobody

[2015-11-17 18:04] ThaDafinser commented on #7
Implemented

[2015-11-17 18:04] #7 closed, assigned to nobody

[2015-11-17 18:05] ThaDafinser commented on #21
Instead of removing i made them public, so the parser below can also be used

[2015-11-17 18:05] #21 closed, assigned to nobody

[2015-11-17 18:20] ThaDafinser commented on #22
removed 2 packages: https://github.com/ThaDafinser/UserAgentParser/commit/34acee410f05213e59f9eccc6c5fe8ebf4060676

[2015-11-17 18:21] ThaDafinser commented on #16
Just ping me, when your package is ready.

[2015-11-19 07:54] ThaDafinser opened #24 "New provider: udger"
https://udger.com/products/local_parser

[2015-11-19 21:56] ThaDafinser commented on #24
Needs a composer/packagist release first

[2015-11-19 21:57] ThaDafinser opened #25 "Cloud / HTTP Provider"
There are a lot of free and paid cloud services around.

Implement at least 1 or 2 of them to get started

[2015-11-23 11:34] ThaDafinser opened #29 "Add integration tests"
We have true 100% code coverage in case of unittests, but the providers are all mocked.

So we need to add some tests, which check with the lowest and highest supported version of the provider, if they still work.

Any good ideas, how to implement this right?

[2015-11-23 16:29] ThaDafinser commented on #24
No interest (wrote a mail)

[2015-11-23 16:29] #24 closed, assigned to nobody

[2015-11-24 18:48] NielsLeenheer opened #36 "Versions with non-digits are not interpreted correctly by UserAgentParser"
WhichBrowser adds the nickname of the OS release before the version number. So the version is "Yosemite 10.10" and not just "10.10". UserAgentParser interprets this as "0.10".

See for example:
http://useragent.mkf.solutions/?userAgent=Kodi%2F14.0+%28Macintosh%3B+Intel+Mac+OS+X+10_10_3%29+App_Bitness%2F64+Version%2F14.0-Git%3A2014-12-23-ad747d9-dirty

This also happens with many other libraries wi

[2015-11-24 20:34] NielsLeenheer opened #37 "More generics for various Providers"
BrowscapPhp:
- model: "Windows Desktop"
- model: "Linux Desktop"

SinergiBrowserDetector:
- model: "Windows Phone"

Wurfl:
- model: "SmartTV"
- browser: "Java Applet"

[2015-11-25 08:40] ThaDafinser commented on #36
This seems to be a real problem which i not covered until yet.

After checking the two UA you provided, following providers are affected by this two examples
- DonatjUAParser
- SingergiBrowserDetector
- PiwikDeviceDetector
- WhichBrowser
- YzalisUAParser

Major/minor/patch are numbers, which i want to keep clean with numbers only. The question is if their are `real` version numbers which are not n

[2015-11-25 09:01] ThaDafinser commented on #36
Beta example:

[code]

Alpha example:

[code]

[2015-11-25 13:29] ThaDafinser commented on #37
Thank you. I will try to get into this soon. Quiet busy this week.

[2015-11-25 13:36] NielsLeenheer commented on #36
WhichBrowser can provide the version in two ways:
- A string that is meant to be displayed on screen
- A string that is contains a version number - same specificity as the UA but reformatted

Sometimes the display string contains a prefix and the version number. Sometimes just an alias. And sometimes just the major version.

For example:
- On OS X: "Yosemite 10.10" and "10.10"
- On Windows: "XP" a

[2015-11-30 09:39] ThaDafinser commented on #36
This should be fixed now with PR #38
- complete is always used `as is`
- the hydration of major/minor/patch/alias was refactored that it should cover most cases
  - major/minor/patch is still number only
  - alias is populated when there is something else than number provided and not alpha/beta/...

[2015-11-30 09:39] #36 closed, assigned to nobody

[2015-12-09 08:23] ThaDafinser commented on #25
use PSR-7 for it

https://github.com/php-fig/http-message

[2015-12-09 08:24] ThaDafinser commented on #25
- https://useragentapi.com
- https://www.whatismybrowser.com/
- https://udger.com
- http://www.useragentstring.com/pages/api.php

[2015-12-10 08:16] #22 closed, assigned to nobody

[2015-12-15 12:12] ThaDafinser commented on #25
All implemented

[2015-12-15 12:12] #25 closed, assigned to nobody

[2015-12-15 12:13] ThaDafinser commented on #9
Last release was in `September` https://github.com/serbanghita/Mobile-Detect/releases

[2016-01-14 09:59] ThaDafinser opened #49 "New provider: zsxsoft/php-useragent"
https://github.com/zsxsoft/php-useragent

[2016-01-14 10:05] ThaDafinser opened #50 "New provider: codeigniter/framework"
https://github.com/bcit-ci/CodeIgniter

They have this class and config:
https://github.com/bcit-ci/CodeIgniter/blob/develop/application/config/user_agents.php
https://github.com/bcit-ci/CodeIgniter/blob/develop/system/libraries/User_agent.php

[2016-01-22 15:12] ThaDafinser opened #51 "New provider: handsetdetection.com"
http://www.handsetdetection.com/pricing

[2016-01-25 11:40] ThaDafinser commented on #51
https://github.com/HandsetDetection/php-apikit
http://www.handsetdetection.com/resources/apiv3_index

[2016-01-27 09:06] ThaDafinser commented on #51
- It has an APIkit (but i dont like it)
  - https://github.com/HandsetDetection/php-apikit
- see proTips MatchingProcess
  - http://www.handsetdetection.com/resources/apiv3_protips
- Community + Paid version
- Download and API version

[2016-01-28 09:03] ThaDafinser opened #53 "Mixed provider ideas"
https://github.com/Ikimea/Browser
https://github.com/lennerd/vipx-bot-detect
https://github.com/JayBizzle/Crawler-Detect

[2016-02-12 07:58] ThaDafinser commented on #29
Added some integration tests here https://github.com/ThaDafinser/UserAgentParser/tree/master/tests/integration/Provider

[2016-02-12 07:58] #29 closed, assigned to nobody

[2016-02-15 11:38] ThaDafinser opened #58 "Replace generics"
To solve the generics problem from https://github.com/ThaDafinser/UserAgentParserComparison/issues/19

we should create something abstract to filter default/generic values.

Currently we have those variations:
https://github.com/ThaDafinser/UserAgentParser/blob/master/src/Provider/AbstractProvider.php
https://github.com/ThaDafinser/UserAgentParser/blob/master/src/Provider/Wurfl.php#L64-L66

https:

[2016-02-17 14:28] #58 closed, assigned to nobody

[2016-03-04 14:36] ThaDafinser commented on #49
The data is sadly not splitted in the way, we would need it.
- Browser name + version is in one field (needed in 2 different fields)
- OS name + version and device name + version information is in one field (needed in 4 different fields)

https://github.com/zsxsoft/php-useragent/blob/master/tests/TestUserAgent.php#L301-L302

So it's not possible at the moment, to include it here.

@zsxsoft is ther

[2016-03-04 14:51] ThaDafinser commented on #50
Closing. Reasons:
- too few updates https://github.com/bcit-ci/CodeIgniter/commits/develop/application/config/user_agents.php
- not standalone available on packagist

[2016-03-04 14:51] #50 closed, assigned to nobody

[2016-03-04 14:53] ThaDafinser commented on #37
Most should be cleared already.

Found those with this query

[code]

smartTV PiwikDeviceDetector
SmartTV PiwikDeviceDetector
SmartTV PiwikDeviceDetector
smartTV UAParser
SmartTV2012 UAParser
SmartTV2013 UAParser
SmartTV2013 UAParser
SmartTV2013 UAParser
SmartTV2013 UAParser
SmartTV2013 UAParser
SmartTV2014 UAParser
SmartTV2015 UAParser
TV-SMARTTV-500  UAParser
Unix7   PiwikDeviceDetector
Unix7

[2016-03-04 14:54] ThaDafinser commented on #11
This will not be easy possible.

So i'm closing it for now

[2016-03-04 14:55] zsxsoft commented on #49
WTF!
In my memory I have done it! But I realized that I forgot it just now...

I will do it ASAP.

[2016-03-04 14:58] ThaDafinser commented on #49
Cool thing :+1:

If you manage to split it until the 20th March, i can also include your lib in the next comparison round
https://github.com/ThaDafinser/UserAgentParserComparison/issues/16#issuecomment-188123125

[2016-03-05 16:29] zsxsoft commented on #49
Have done. :)

[2016-03-07 07:43] ThaDafinser commented on #49
@zsxsoft i will try it this week. Is it already stable - can you create already a release?

[2016-03-07 09:48] cedricalfonsi opened #61 "Provider dependencies detection"
In order to be able to deploy the library in various environments, it would be better to check if the primitive functions/classes of the different providers are present instead of checking if the package has been deployed in a specific vendor directory.

Even if it's a best practice to put external libraries in a vendor directory, all projects don't respect it and can't deploy your great library.

[2016-03-07 09:57] zsxsoft commented on #49
I think it should be done at this Saturday.

Sent from Outlook Mobile

On Sun, Mar 6, 2016 at 11:43 PM -0800, "Martin Keckeis" notifications@github.com wrote:

@zsxsoft i will try it this week. Is it already stable - can you create already a release?

---

Reply to this email directly or view it on GitHub:
https://github.com/ThaDafinser/UserAgentParser/issues/49#issuecomment-193139317

[2016-03-07 10:01] ThaDafinser commented on #61
@cedricalfonsi the check was done that way when i started with the package (but it was not testable)
https://github.com/ThaDafinser/UserAgentParser/blob/8318722a977b89f66c4d6b9b7bc4a013875f8449/src/Provider/DonatjUAParser.php#L43-L45

But since this package only supports [composer](https://getcomposer.org/) for installation, i wasn't seeing a problem with it (expect the performance of a single fil

[2016-03-08 09:10] ThaDafinser commented on #9
Since the `3.x` release seems to be waiting, we will add this package, which is based on MobileDetect, but offers name detection
https://github.com/jenssegers/agent

//cc @jenssegers

[2016-03-08 09:16] ThaDafinser commented on #49
PR ready #63

[2016-03-09 16:02] ThaDafinser opened #66 "Filtering generics for `jenssegers/agent`"
![image](https://cloud.githubusercontent.com/assets/533017/13641426/aafe8fae-e618-11e5-9d48-2ac265dc5a0e.png)

Device model is mixed with tablet/phone and brand information (so remove for now!)
![image](https://cloud.githubusercontent.com/assets/533017/13641445/bcbd8f9c-e618-11e5-82a5-facc1dc71347.png)

[2016-03-10 12:45] ThaDafinser commented on #61
@cedricalfonsi any idea? I'm pretty sure we could do this better somehow

I'll close the PR in the meantime

[2016-03-10 13:25] ThaDafinser commented on #66
Fixed with https://github.com/ThaDafinser/UserAgentParser/pull/67

[2016-03-10 13:25] #66 closed, assigned to nobody

[2016-03-10 13:26] #11 closed, assigned to nobody

[2016-03-10 13:29] ThaDafinser opened #69 "New provider: ikimea/browser"
https://github.com/Ikimea/Browser

[2016-03-10 13:29] ThaDafinser commented on #53
Wont do bot detection for now. New issue for Browser #69

[2016-03-10 13:29] #53 closed, assigned to nobody

[2016-03-10 13:32] ThaDafinser commented on #69
Not maintained anymore? http://www.apptools.com/phptools/browser/

[2016-03-10 14:41] cedricalfonsi commented on #61
@ThaDafinser as composer is required to install the lib it makes sense.

I checked the composer API without any success. But we can do something by our own, knowing that the lib will be installed itself in the vendor-dir, we can find it easily.

in AbstractProvider.php

[code]

and in the providers constructs, by instance here for DonatjUAParser

[code]

What do you think about that ? If ok I'll s

[2016-03-13 11:48] mimmi20 opened #70 "New Provider: crossjoin/Browscap"
crossjoin/Browscap is a UA parser, who uses the browscap.ini too, but is faster and requires lower amout of RAM. Actually only a file cache is supported. The browscap-php library has adopted a lot of features from it.

[2016-03-13 14:05] ThaDafinser commented on #70
https://github.com/crossjoin/Browscap

Maybe a package like this could contain an alternative implentation
https://github.com/geocoder-php/geocoder-extra

Or we leave it together here. Dunno if the split is really a good idea

[2016-03-18 12:39] #69 closed, assigned to nobody

[2016-03-18 12:40] ThaDafinser commented on #49
Implemented https://github.com/ThaDafinser/UserAgentParser/blob/master/src/Provider/Zsxsoft.php

[2016-03-18 12:40] #49 closed, assigned to nobody

[2016-03-18 13:08] ThaDafinser commented on #61
@cedricalfonsi i was thinking about this a while (that's why i reply so late, sorry about that)

By doing `dirname(dirname(dirname(dirname(__DIR__))))` we limit ourself again to a fixed structure.
So that will work for no composer installation in some cases, but not for composer installation anymore.

There are two possible solutions and ways after them
- check if a package is installed over `func

[2016-03-20 10:56] cedricalfonsi commented on #61
@ThaDafinser Actually, we also use composer in our project, but the vendor-dir has a different name, that's why we need to locate it.

`dirname(dirname(dirname(dirname(__DIR__))))` does the job, as the structure of the UserAgentParser is well known.

What do you mean by it "_limit ourself again to a fixed structure_" ? If the structure of the UserAgentParser lib will change, we will also change th

[2016-03-20 17:08] ThaDafinser commented on #61
Now i get you. You use this option? https://getcomposer.org/doc/03-cli.md#composer-vendor-dir

[2016-03-22 10:20] cedricalfonsi commented on #61
@ThaDafinser Yes exactly, I should have mentioned it more clearly in my first message.

[2016-03-24 13:24] ThaDafinser commented on #37
@NielsLeenheer i close this for now.

If we find new one, let's create an issue per provider for it

[2016-03-24 13:24] #37 closed, assigned to nobody

[2016-03-24 13:26] ThaDafinser commented on #16
@mimmi20 do you have currently a target date for the "v1"?

[2016-03-24 14:34] mimmi20 commented on #16
I hope to be ready next month. Actually I have issues with a version library I included last month.

[2016-03-26 10:23] mimmi20 opened #74 "new Provider: Wolfcast/BrowserDetection"
Repo-Url: https://github.com/Wolfcast/BrowserDetection

[2016-03-26 17:35] ThaDafinser commented on #74
Thank you.
Did not found it until yet, since i only searched on packagist.org

[2016-03-30 09:27] ThaDafinser opened #75 "Provide an option, to disable generic remove"
We remove currently some generics in various providers, to prevent the user from "false positive" detection results.
This plays also really well with the chain, since only then the next provider has the chance to give "good results"

But maybe some need to disabled this and want the original results at all time?

[2016-03-30 11:35] simtabi opened #77 "PiwikDeviceDetector Provider error"
Hi,
I a using the latest version of this library. Now theres an issue. Not sure if its a bug.
I already have this library installed `PiwikDeviceDetector` but i keep getting the following exception error. `You need to install the package piwik/device-detector to use this provider`. I have done all i could to debug but i can seem to find a solution. The only one is to comment out the following:

[2016-03-30 11:48] ThaDafinser commented on #77
he ho @SimTabi :smile:

It seems you have not installed the two packages with https://getcomposer.org/

Currently that is the only supported way to install this package. Otherwise you need to uncomment that check like you mentioned above.

A bit releated to #61 (custom vendor directory with composer)

[2016-03-30 12:37] ThaDafinser commented on #74
https://github.com/Wolfcast/BrowserDetection/issues/9

[2016-03-30 12:42] ThaDafinser commented on #77
@SimTabi i'm on windows as well - that work. Those are 2 seperate directories (maybe then you get it working without composer)

[2016-03-30 13:30] ThaDafinser opened #79 "Integration test for `urlencode()` or `rawurlencode()`"
add integration tests with special characters which cover the escaping works.

[2016-03-30 13:31] #77 closed, assigned to nobody

[2016-04-01 13:29] ThaDafinser opened #80 "Change isRealResult() to getRealResult()"
Instead of doing this

[code]

Do this and return `null` if it's not a valid value

[code]

There are some providers where the value is not always available - there we still need a `isset()` if check before that

[2016-04-01 14:02] ThaDafinser commented on #70
I wait currently for the tested version, then i check again if we implement this parser
https://github.com/crossjoin/Browscap/issues/19#issuecomment-203470717

[2016-04-01 14:13] ThaDafinser commented on #79
https://github.com/ThaDafinser/UserAgentParser/pull/82

[2016-04-04 13:55] #79 closed, assigned to nobody

[2016-04-04 13:58] ThaDafinser commented on #61
@cedricalfonsi i think we implement this in `2.0`.

If we change the code to your variant `dirname(dirname(dirname(dirname(__DIR__))))` we would also need a check if the folder exists, since that wont work if you run the tests in the project itself and we would need here another case too.

So for now, the check must be disabled until `v2.0`

[2016-05-10 10:32] ThaDafinser commented on #9
@serbanghita do you already have a target date for `3.0` ?

[2016-05-10 11:12] serbanghita commented on #9
@ThaDafinser no I don't yet. I'm keeping `2.x` regexes updated while I find time for `3.0`
Latest `2.x` release was 16 days ago https://github.com/serbanghita/Mobile-Detect/tags

[2016-05-17 07:02] ThaDafinser opened #86 "WhatIsMyBrowserCom update"
Add the type + bot detection

field: user_agent_type

browser
mobile
ebook_reader
crawler
analyser
tool
tv
mediaplayer
gamesystem
library
unknown

[2016-05-18 11:49] #86 closed, assigned to nobody

[2016-05-18 11:50] ThaDafinser commented on #80
https://github.com/ThaDafinser/UserAgentParser/pull/88

[2016-05-19 16:49] itsonit opened #89 "composer autoload issue"
If the running script is placed in a a subdirectory, it will break the loading of the installed providers.

For ex., including autoload like this
`require __DIR__.'../vendor/autoload.php';`

produce a fatal error:

`PHP Fatal error:  Uncaught exception 'UserAgentParser\\Exception\\PackageNotLoadedException' with message 'You need to install the package piwik/device-detector to use this provider' i

[2016-05-20 14:59] ThaDafinser commented on #89
@itsonit see related issue https://github.com/ThaDafinser/UserAgentParser/issues/61#issuecomment-205305981

Will be solved when moving to php7 only in the next major. For now

[2016-05-20 15:00] ThaDafinser commented on #89
For now you need to disable this check. Because the folder is not correctly "relative"

[2016-05-20 15:49] itsonit commented on #89
thx for your reply. For my purpose it was simple to switch routing from filesystem to programmatic aka url-rewrite.

[2016-05-23 07:18] ThaDafinser commented on #89
Nice you found already a workaround :+1:

[2016-05-24 06:11] #80 closed, assigned to nobody

[2016-05-25 14:36] ThaDafinser opened #90 "New provider: 51degrees"
https://51degrees.com/

[2016-05-30 07:06] ThaDafinser opened #91 "New provider: DetectRight"
http://www.detectright.com/

[2016-05-30 13:12] ThaDafinser opened #92 "New provider: endorphin-studio/browser-detector"
https://github.com/endorphin-studio/browser-detector

[2016-06-17 15:10] egorsmkv commented on #89
@ThaDafinser  Faced with this problem right now. Can you fix this bug?

[2016-06-20 06:42] ThaDafinser commented on #89
@egorsmkv can you show me your directory structure and give more informations?

[2016-06-20 11:32] ThaDafinser commented on #90
solved with https://github.com/ThaDafinser/UserAgentParser/pull/93

[2016-06-20 11:32] #90 closed, assigned to nobody

[2016-06-20 15:24] egorsmkv commented on #89
@ThaDafinser I add your library to my Yii2 project and get this error.

[2016-06-21 06:00] ThaDafinser commented on #89
@egorsmkv you can do a `var_dump(getcwd()); exit()` right before the Exception is thrown?

[2016-06-21 06:08] ThaDafinser commented on #89
I think this could work

[code]

[2016-06-21 12:51] egorsmkv commented on #89
the fact is that I do not want to put the crutches in the code

[2016-06-21 13:23] ThaDafinser commented on #89
@egorsmkv i asked you for your directory structure and i asked if you could post the output of a debug statement.

If you dont want to give me any information i will stop trying to solve this issue

//note the comment above "I think this could work..." is a side note for a possible fix

[2016-06-21 14:20] egorsmkv commented on #89
@ThaDafinser basic yii2 structure: https://github.com/yiisoft/yii2-app-basic#directory-structure

Maybe it's worth to check availability of the library through the `try / catch`?

[2016-06-29 06:18] serhiime commented on #92
@ThaDafinser I release version 3.0.0.

[2016-07-12 12:28] ThaDafinser commented on #51
implmeneted

[2016-07-12 12:28] #51 closed, assigned to nobody

[2016-07-13 10:58] ThaDafinser commented on #92
Implemented.

[2016-07-13 10:58] #92 closed, assigned to nobody

[2016-07-18 09:16] ThaDafinser commented on #89
I found this solution...
https://github.com/mindplay-dk/composer-locator

Need to create a PR soon.

[2016-08-09 12:00] ThaDafinser commented on #89
@itsonit @egorsmkv this issue should be fixed now.

Please try out `dev-master` and tell me if it works `composer require thadafinser/user-agent-parser:dev-master`

https://github.com/ThaDafinser/UserAgentParser/pull/99

[2016-08-10 05:48] ThaDafinser commented on #89
//cc to all forks, which corrected this issue - please try out the latest master :smile:

@cedricalfonsi @aurelijusrozenas @palpalani @kallaikoi

[2016-08-29 06:17] ThaDafinser opened #101 "Remove provider: Wurfl"
https://github.com/mimmi20/Wurfl/issues/15#issuecomment-242984272

[2016-11-23 15:57] chris-doehring commented on #89
@ThaDafinser When do you plan to release a new version which includes this fix?

[2016-11-24 07:12] ThaDafinser commented on #89
@chris-doehring i'm just waiting for a feedback, from 1 or 2 people...

[2016-11-24 10:40] egorsmkv commented on #89
@ThaDafinser unfortunately, I don't use this library, so I can't test the change.

[2016-11-24 11:39] chris-doehring commented on #89
@ThaDafinser I tried version 1.4.0 and got the same issue as described above. The current dev-master does fix the issue.

[2016-11-24 12:16] aurelijusrozenas commented on #89
Yes, seems to be working. Tested on symfony 2.8.

[2016-11-24 12:23] ThaDafinser commented on #89
Release `v1.5.0` https://github.com/ThaDafinser/UserAgentParser/releases/tag/v1.5.0

[2016-11-24 12:23] #89 closed, assigned to nobody

[2016-12-10 08:22] #101 closed, assigned to nobody

[2017-01-16 08:26] mimmi20 opened #106 "New Provider: nfriedly/whatsmyua.com"
see https://github.com/nfriedly/whatsmyua.com

[2017-01-16 14:46] ThaDafinser commented on #106
@mimmi20 thank you, but i don't fine the actual code there.

It seems to be JS code and (partly?) based on https://github.com/tobie/ua-parser (the PHP project of this we got already called UAParser)

[2017-01-16 17:13] mimmi20 commented on #106
@ThaDafinser I didn't look too much in it. Sorry.

[2017-01-16 17:13] #106 closed, assigned to nobody

[2017-02-05 19:17] serhiime opened #108 "Nice dumper"
You can try to add nice dumper (https://packagist.org/packages/raulfraile/ladybug)  for your live demonstration: http://useragent.mkf.solutions/

[2017-02-06 07:50] ThaDafinser commented on #108
@endorphinua thank you for the suggestion.

A highlighter would be a good improvement, but i would more likely do it on the client side.
E.g. something like http://prismjs.com/

[2017-02-06 09:00] serhiime commented on #108
Ok ) Thanx for response.

[2017-02-06 09:00] #108 closed, assigned to nobody

[2017-02-26 18:50] photodude commented on #91
Note: PR #94 would add this provider

[2017-05-01 09:39] mimmi20 commented on #16
@ThaDafinser Its stable now.

[2017-05-02 05:45] ThaDafinser commented on #16
@mimmi20 great! Could you please write a short guide in the readme, how to use it correctly?

In general it looks like straight forward, but not that i forget something :+1:
https://github.com/mimmi20/BrowserDetector/blob/master/tests/DetectorTest.php#L44-L67

[2017-05-11 07:18] mimmi20 commented on #16
I updated the readme.

[2017-05-11 07:21] ThaDafinser commented on #16
Thanks. My local PR is quiet good already. Need todo some testing and then will publish him

[2017-05-11 07:22] mimmi20 commented on #16
My actual test cases you can find here: https://github.com/mimmi20/browser-detector-tests (around 200.000 useragents). More useragents you could find here: https://github.com/mimmi20/ua-comparator (~2.000.000).

[2017-08-21 09:50] Stadly opened #113 "Include whether the operating system is 64 bit or 32 bit"
It would be great if information about the bit-width of the operating system could be included. Several of the providers give this information, so it shouldn't be too hard to do :)

[2017-08-23 05:41] ThaDafinser commented on #113
Some have this information, but not that many.

For what you need this information?

[2017-08-23 06:28] Stadly commented on #113
On a software downloads page, I would like to highlight either the 32-bit or 64-bit version of each program, based on the user's operation system. Many users don't know whether they are running a 32-bit or a 64-bit operation system, so it's hard for them to choose which version to download.

[2017-08-23 07:29] ThaDafinser commented on #113
Makes sense.

For now you could use the `$result->getProviderResultRaw();` and depending on the provider there will be different fields field out.

[2017-08-23 07:34] Stadly commented on #113
Thanks :)

[2017-08-23 07:37] NielsLeenheer commented on #113
Software downloads is what I use it for too. WhichBrowser doesn't expose this, but I should probably add it.

[2017-10-13 15:13] unstoppablecarl opened #114 "This package requires thadafinser/package-info but does not appear to use it."
This package requires `thadafinser/package-info` but does not appear to use it. Am I missing something?

[2017-12-04 07:25] ThaDafinser commented on #114
@unstoppablecarl its used indirectly. During installation it extracts the versions of the installed packages.

That information is then used here:
https://github.com/ThaDafinser/UserAgentParser/blob/master/src/Provider/AbstractProvider.php#L123-L132

[2017-12-04 07:25] #114 closed, assigned to nobody

[2018-01-23 18:09] Stadly commented on #113
Would you be interested in a pull request on this?

[2018-02-08 19:12] mimmi20 opened #116 "Ua cutted"
When a UA is tested on [the web](http://useragent.mkf.solutions), the UA is cutted if the UA conains a `"`.

Sample UA: Mozilla/5.0 (Linux; Android 5.1; Alba 7" Build/LMY47I) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.93 Safari/537.36

[2018-08-14 09:44] #16 closed, assigned to nobody

[2018-08-14 09:45] #70 closed, assigned to nobody

[2018-08-14 09:45] #74 closed, assigned to nobody

[2018-11-27 13:50] wowcut opened #118 "Project still alive? Test page uses extremely old data files"
Is this project still alive? On the test page I see tat the underlying data was not update since over two years... what looks like a "project dead" indicator to me...

[2018-12-05 07:17] ThaDafinser commented on #118
Yeah, it definitely needs an update. In general the package should still work fine.

[2020-01-31 07:42] #116 closed, assigned to nobody

[2020-12-02 14:36] duronrulez opened #121 "package not compatible with composer v2"
As the title says. If the package is still supported is composer v2 support planned?

[2021-02-17 09:07] jourdan-qe opened #124 "piwik/device-detector is abandoned"
Hello,

Thank you for this great package.

I notice one of your dependencies, piwik/device-detector, is abandoned: https://packagist.org/packages/piwik/device-detector
Their maintainer advices to use https://packagist.org/packages/matomo/device-detector instead.

Do you consider update your package with it?

Thank you
Jourdan

[2021-03-10 10:06] manavo commented on #121
There's already a pending pull request (https://github.com/ThaDafinser/UserAgentParser/pull/120) which will hopefully get merged at some point!

[2021-09-19 14:44] black-snow opened #125 "PHP 8 support"
Currently requires PHP `~5.6|~7.0`. It'd be nice if we could use this with the latest PHP 8 release. There ain't many breaking changes, shouldn't be complicated (if this project is still alive).

[2022-01-24 15:51] willyk commented on #121
Hello,
I have a project that fell due to this detail, could you please accept the Pull Request? to continue using the library
In any case, it will force me to clone another one that I will not be able to maintain.
Your help please